<!-- modal -->
<div id="modal" class="modal">
  <div class="modal-content px-5 py-2">

    <div class="ml-auto"><a id="closeBtn">✖︎</a></div>
    
    <%= simple_form_for @chat_room do |f| %>

      <div class="form-group row">
        <div class="col-md-8">
          <%= f.input :name, placeholder: 'チャットルームの名前', label: false %>
        </div>
        <div class="col-md-4">
          <%= f.submit '作成する', class: 'btn btn-primary mb-3' %>
        </div>
      </div>

      <div>チャットルームに参加するユーザー</div>
      <div class="d-flex align-items-start flex-wrap border rounded p-3" id="added-user-list">
        <div class="added-user-item mb-2 mr-2 p-1">
          <input value="<%= current_user.id %>" name="chat_room[user_ids][]" type="hidden" id="chat_user_ids_<%= current_user.id %>" />
          <%= current_user.name %>
        </div>
      </div>

      <%= text_field_tag :keyword, '', placeholder: 'ユーザーを検索する', class: 'form-control mt-4', id: 'search-input' %>
      <div class="search-result my-3 p-3" id="result">
        <% User.where.not(id: current_user.id).each do |user| %>
          <div class="d-flex border-top py-3">
            <div class="my-auto"><%= user.name %></div>
            <div class="btn btn-primary btn-sm ml-3" id="user-add" data-user-id="<%= user.id %>" data-user-name="<%= user.name %>">追加</div>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>
</div>
<!-- end modal -->

<script>
$(document).on('turbolinks:load', function(){
  $(document).on('keyup', '#search-input', function(e){
    e.preventDefault();
    var input = $.trim($(this).val());
    $.ajax({
      url: '/chat_rooms/search',
      type: 'GET',
      data: ('keyword=' + input),
      processData: false,
      contentType: false,
      dataType: 'json'
    })

    .done(function(data){
      $('#result').empty();
      if (input.length == 0) {
        $('#result').empty();
      } else if (data.length !== 0) {
        $(data).each(function(i, user){
          addUser(user);
        });
      } else {
        addNoUser();
      }
    })

    .fail(function() {
      alert("通信エラーです。ユーザーが表示できません。");
    });
  });

  function addUser(user) {
    let html = `
      <div class="d-flex border-top py-3">
        <div class="my-auto">${user.name}</div>
        <div class="btn btn-primary btn-sm ml-3" id="user-add" data-user-id="${user.id}" data-user-name="${user.name}">追加</div>
      </div>
    `;

    $("#result").append(html);
  }

  function addNoUser() {
    let html = `
      <p>ユーザーが見つかりません</p>
    `;

    $("#result").append(html);
  }

  function addDeleteUser(name, id) {
    let html = `
    <div class="added-user-item d-flex mr-2 mb-2 p-1" id="${id}">
      <div class="my-auto">${name}</div>
      <div class="batsu mx-1" id="user-remove" data-user-id="${id}" data-user-name="${name}">×</div>
    </div>`;

    $("#added-user-list").append(html);
  }

  function addMember(userId) {
    let html = `<input value="${userId}" name="chat_room[user_ids][]" type="hidden" id="chat_user_ids_${userId}" />`;
    $(`#${userId}`).append(html);
  }

  $(document).on("click", "#user-add", function() {
    const userId = $(this).attr("data-user-id");
    const userName = $(this).attr("data-user-name");

    $(this).parent().remove();

    addDeleteUser(userName, userId);
    addMember(userId);
  });

  $(document).on("click", "#user-remove", function() {
    $(this).parent().remove();
  });
});
</script>
