<!-- modal -->
<div id="modal" class="modal">
  <div class="modal-content p-5">
    <%= simple_form_for ChatRoom.new do |f| %>

      <%= f.input :name %>

      <%= f.fields_for :chat_user do |ff| %>
        <%= ff.input :user_id, collection: User.all, include_blank: false, input_html: { multiple: true, class: 'js-searchable' } %>
      <% end %>

        <%= f.submit 'チャットルーム作成する', class: 'btn btn-primary btn-block' %>
    <% end %>

    <div class="modal-body">
      <h1>hello</h1>
      <input type="button" id="closeBtn" value="close">
    </div>
  </div>
</div>
<!-- end modal -->
