<div class="container">
  <!-- breadcrumb -->
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'チャットルーム一覧', chat_rooms_path %></li>
    <li class="breadcrumb-item">チャットルーム作成</li>
  </ul>
  <!-- end breadcrumb -->


  <!-- title -->
  <h1>チャットルーム作成</h1>
  <!-- end title -->

  <hr>

  <!-- form -->
  <%= simple_form_for @chat_room do |f| %>

    <%= f.input :name %>

    <%= f.fields_for :chat_users do |ff| %>
      <%# ff.hidden_field :chat_room_id  %>
      <p>チャットユーザー選択</p>
      <%= option = options_from_collection_for_select(@users, :id, :name) %>
      <div class="form-group">
        <%= ff.select :user_id, option %>
      </div>
    <% end %>

    <%= f.submit 'チャットルーム作成', class: 'btn btn-primary btn-block btn-block' %>

  <% end %>
  <!-- end form -->
</div>
