<div class="mb-5" id="comment-<%= comment.id %>">
  <div class="d-flex comment-area-container">
    <div>
      <div class="border mr-4" style="width: 50px; height: 50px; border-radius: 50%;">
      </div>
      <span class="badge badge-secondary mt-2">出品者</span>
    </div>
    <div>
      <span class="font-weight-bold"><%= comment.user_name %></span>
      <div class="comment-area mt-2">
        <div>
          <p><%= comment.body %></p>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <%= time_ago_in_words(comment.created_at) %>前
          <%= link_to '削除', '#', method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
