<div class="container">
  <!-- breadcrumb -->
  <nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
      <li class="breadcrumb-item active" aria-current="page">会員一覧</li>
    </ol>
  </nav>
  <!-- end breadcrumb -->


  <!-- tab -->
  <% tabs = [['全て', nil]] + Post.category.options  %>
  <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-around">
    <ul class="navbar-nav d-flex">
      <% tabs.each do |label, value| %>
        <li class="nav-item <%= 'active' if value == params[:category] %>">
          <%= link_to label, users_path(category: value), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </nav>
  <!-- end tab -->


  <h1 class="mt-5">会員一覧</h1>


  <!-- title -->
  <div class="mt-5">
    <h2 class="ml-5"><%= tabs.select{ |label, value| value == params[:category] }.first[0]  %></h2>
  </div>
  <!-- end title -->


  <!-- result1 -->
  <%
    result_from = (@users.current_page - 1)*@users.limit_value + 1
    result_to = @users.current_page*@users.limit_value
    result_total = @users.total_count
  %>

  <div class="text-center">
    <%= result_from %>〜<%= result_to  %>件目を表示（<%= result_total %>件中）
  </div>
  <!-- end result1 -->


  <!-- users -->
  <div class="row">
    <%= render @users %>
  </div>
  <!-- end users -->


  <!-- result2 -->
  <div class="text-center">
    <%= result_from %>〜<%= result_to  %>件目を表示（<%= result_total %>件中）
  </div>
  <!-- end result2 -->


  <!-- paginate -->
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @users, category: @category %>
  </div>
  <!-- end paginate -->
</div>