<h1 class="mt-5">会員一覧</h1>

<%= form_tag users_path, method: :get do %>
<%= hidden_field_tag :category, params[:category] %>
  <div class="d-flex justify-content-between">
    <div class="<%= params[:category] == 'all' ? 'bg-success' : 'bg-secondary' %> p-3">
      <%= link_to '全て', users_path(category: 'all') %>
    </div>
    <div class="<%= params[:category] == 'programming' ? 'bg-success' : 'bg-secondary' %> p-3">
      <%= link_to 'プログラミング', users_path(category: 'programming') %>
    </div>
    <div class="<%= params[:category] == 'university' ? 'bg-success' : 'bg-secondary' %> p-3">
      <%= link_to '大学受験', users_path(category: 'university') %>
    </div>
    <div class="<%= params[:category] == 'qualification' ? 'bg-success' : 'bg-secondary' %> p-3">
      <%= link_to '資格勉強', users_path(category: 'qualification') %>
    </div>
    <div class="<%= params[:category] == 'english' ? 'bg-success' : 'bg-secondary' %> p-3">
      <%= link_to '英語学習', users_path(category: 'english') %>
    </div>
    <div class="<%= params[:category] == 'reading' ? 'bg-success' : 'bg-secondary' %> p-3">
      <%= link_to '読書', users_path(category: 'reading') %>
    </div>
  </div>
<% end %>

<% @users.each do |user| %>
  <div class="my-4 bg-primary"><%= user.name %></div>

  <% category = params[:category] %>
  <% user.posts.category_filter(category).each do |post| %>
    <div><%= post.category_text %></div>
    <div class="mb-3"><%= post.content %></div>
  <% end %>
<% end %>
