<header class="mb-5" style="height: 100px; background-color: white;">
  <div class="container">
    <nav class="navbar navbar-expand-lg ">
      <%= link_to 'フリマアプリ', root_path, class: 'navbar-brand text-dark font-weight-bold' %>
      <%= form_with url: items_path, method: "get", class: 'form-group m-0', local: true do |f| %>
        <%= f.text_field :keyword, value: params[:keyword], placeholder: '何かお探しですか？', class: 'form-control form-control-sm', style: 'width: 950px' %>
      <% end %>
    </nav>
    <nav class="navbar navbar-expand-lg p-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'カテゴリから探す', '#', class: 'nav-link text-dark font-weight-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ブランドから探す', '#', class: 'nav-link text-dark font-weight-bold' %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'いいね一覧', '#', class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to settings_notices_path, class: 'nav-link dropdown-toggle text-dark', id: 'navbarDropdown' do %>
              お知らせ
            <% end %>
            <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
              <% @notices.each do |notice| %>
                <%= link_to '#', id: "notice-#{notice.id}", class: "js-navbar-notification-dropdown-item dropdown-item" do %>
                  <div class="d-flex align-items-center">
                    <div class="text-center mr-3">
                      <%# image = notice.sender_id? ? notice.sender_image.url(:thumb) : 'no-image.jpg' %>
                      <%= image_tag 'no-image.jpg', style: 'height: 50px; width: 50px;' %>
                    </div>
                    <div>
                      <div class="text-wrap">
                        <p style="font-size: 0.8rem;"><%= raw notice.body %></p>
                      </div>
                      <div class="text-muted">
                        <p style="font-size: 0.7rem;"><%= time_ago_in_words(notice.created_at) %>前</p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to 'やることリスト', '#', class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', settings_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item active">
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-danger btn-sm' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規会員登録", new_user_registration_path, class: 'btn btn-danger btn-sm mr-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-primary btn-sm mr-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-outline-primary btn-sm' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
