<header class="mb-5" style="height: 100px; background-color: white;">
  <div class="container">
    <nav class="navbar navbar-expand-lg ">
      <%= link_to 'フリマアプリ', root_path, class: 'navbar-brand text-dark font-weight-bold' %>
      <%= form_with url: items_path, method: "get", class: 'form-group m-0', local: true do |f| %>
        <%= f.text_field :keyword, value: params[:keyword], placeholder: '何かお探しですか？', class: 'form-control form-control-sm', style: 'width: 950px' %>
      <% end %>
    </nav>
    <nav class="navbar navbar-expand-lg p-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'カテゴリから探す', '#', class: 'nav-link text-dark font-weight-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ブランドから探す', '#', class: 'nav-link text-dark font-weight-bold' %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'いいね一覧', '#', class: 'nav-link text-dark' %>
          </li>
          <div class="dropdown">
  <button type="button" id="dropdown1"
      class="btn btn-secondary dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdown1">
    <a class="dropdown-item" href="#">Menu #1</a>
    <a class="dropdown-item" href="#">Menu #2</a>
    <a class="dropdown-item" href="#">Menu #3</a>
  </div>
</div>
          <li class="nav-item">
            <%= link_to 'やることリスト', '#', class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', '#', class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規会員登録", new_user_registration_path, class: 'btn btn-danger btn-sm mr-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-primary btn-sm mr-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-outline-primary btn-sm' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
