<div class="row">
  <div class="col-md-8 offset-md-2 rounded p-5" style="background-color: #FFFFFF;">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center">購入内容の確認</h2>

      <hr class="my-5">

      <div class="row">
        <div class="col-md-3">
          <%= image_tag @item.thumbnail, class: 'card-img', style: 'width: 70px; height: 70px;' %>
        </div>
        <div class="col-md-9">
          <p><%= @item.name %></p>
          <p class="text-right">送料込み(税込) <span class="font-weight-bold">¥<%= @item.price %></span></p>
        </div>
      </div>

      <hr class="my-5">

      <div class="d-flex justify-content-between">
        <div><span class="font-weight-bold">支払い金額</span></div>
        <div><span class="font-weight-bold">¥<%= @item.price %></span></div>
      </div>

      <hr class="my-5">

      <div class="font-weight-bold mb-3">支払い方法</div>
      <% if current_user.selected_creditcard_id.present? %>
        <div>
          <div>
            <div><%= @selected_creditcard.masked_number %></div>
            <div>有効期限 <%= @selected_creditcard.expiration_date %></div>
            <div><%= @selected_creditcard.brand %></div>
          </div>
        </div>
        <div class="mt-3">
          <%= link_to '変更する >', payments_creditcards_path(item_id: @item.id) %>
        </div>
      <% else %>
        <%= link_to '+ 登録してください', new_payments_creditcard_path(item_id: @item.id) %>
      <% end %>

      <hr class="my-5">

      <div class="font-weight-bold mb-3">配送先</div>
      <% if current_user.selected_destination_id.present? %>
        <div>
          <div>
            <div>〒<%= @selected_destination.postal_code %></div>
            <div><%= @selected_destination.full_address %></div>
            <div><%= @selected_destination.full_name %></div>
          </div>
        </div>
        <div class="mt-3">
          <%= link_to '変更する >', payments_destinations_path(item_id: @item.id) %>
        </div>
      <% else %>
        <%= link_to '+ 登録してください', new_payments_destination_path(item_id: @item.id) %>
      <% end %>

      <hr class="my-5">

      <span class="text-danger">配送先と支払い方法の入力を完了してください。</span>
      <%#= f.submit '出品する', class: "btn btn-primary btn-block mt-5" %>
      <button class="btn btn-danger btn-block mt-4">購入する</button>

    </div>
  </div>
</div>
