<div class="row">
  <div class="col-md-8 offset-md-2 rounded p-5" style="background-color: #FFFFFF;">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center">支払い方法</h2>

      <hr class="my-5">

      <% @creditcards.each do |creditcard| %>
        <div class="d-flex justify-content-between mb-4">
          <div class="d-flex">
            <div class="mr-3">
              <input class="mt-4" type="radio" name="radio1" id="radio1a" checked>
            </div>
            <div>
              <div><%= creditcard.masked_number %></div>
              <div>有効期限 <%= creditcard.expiration_date %></div>
              <div><%= creditcard.brand %></div>
            </div>
          </div>
          <div>
            <%= link_to '削除する', payments_creditcard_path(creditcard), method: :delete, class: 'btn btn-outline-danger' %>
          </div>
        </div>
      <% end %>

      <%= link_to '+ クレジットカードを追加', new_payments_creditcard_path %>

      <hr class="my-5">

      <%#= f.submit '選択した支払い方法を使う', class: "btn btn-danger btn-block mt-5" %>
      <button class="btn btn-danger btn-block mt-4">選択した支払い方法を使う</button>

      <p class="text-center mt-4"><%= link_to 'もどる', :back %></p>

    </div>
  </div>
</div>
