<div class="row">
  <div class="col-md-8 offset-md-2 rounded p-5" style="background-color: #FFFFFF;">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center">支払い方法</h2>

      <hr class="my-5">

      <%= form_with model: @creditcard, url: payments_confirm_path, method: :post, local: true do |f| %>

        <div class="form-group">
          <label>カード番号</label>
          <span class="badge badge-danger">必須</span>
          <%= text_field_tag :card_number, '', class: 'form-control', placeholder: '半角数字のみ' %>
        </div>

        <div class="form-group mt-4">
          <label>有効期限</label>
          <span class="badge badge-danger">必須</span>
          <div class="form-row">
            <div class="col-md-4">
              <%= select_tag :expire_month, options_for_select((1..12).map {|n| "%02d" % n}), class: "form-control", include_blank: true %>
            </div>
            <p class="col-md-2 mt-2">月</p>
            <div class="col-md-4">
              <%= select_tag :expire_year, options_for_select(Date.today.year..Date.today.since(10.years).year), class: "form-control", include_blank: true %>
            </div>
            <p class="col-md-2 mt-2">年</p>
          </div>
        </div>

        <div class="form-group mt-4">
          <label>セキュリティコード</label>
          <span class="badge badge-danger">必須</span>
          <%= text_field_tag :cc_csc, '', placeholder: 'カード背面4桁もしくは3桁の番号', class: "form-control" %>
        </div>

        <%= f.submit '登録する', class: "btn btn-danger btn-block mt-5" %>

        <p class="text-center mt-4"><%= link_to 'もどる', :back %></p>

      <% end %>
    </div>
  </div>
</div>
