<div class="row">
  <div class="col-md-8 offset-md-2 rounded p-5" style="background-color: #FFFFFF;">
    <%= render 'shared/flash_item' %>
    <%= form_with model: @item, local: true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: '40文字まで' %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control', rows: '5', placeholder: '商品の説明（必須 1,000文字以内）' %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control', placeholder: '数字で入力してください' %>
      </div>
      <div class="form-group">
        <%= f.label :condition %>
        <%= f.select :condition, Item.condition.options, { include_blank: '選択してください' }, class: 'form-control' %>
      </div>
      <%= f.submit '出品する', class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
