<div class="row">
  <div class="col-md-8 offset-md-2 rounded p-5" style="background-color: #FFFFFF;">
    <%= render 'shared/flash_item' %>
    <%= form_with model: @item, local: true do |f| %>

      <%= f.fields_for :item_images, @item.item_images.build do |ff| %>
        <div class="form-group">
          <%= ff.label :image %>
          <span class="badge badge-danger">必須</span>
          <p>最大10枚までアップロードできます</p>
          <%= ff.file_field :image %>
        </div>
      <% end %>

      <hr class="my-5">

      <div class="form-group">
        <%= f.label :name %>
        <span class="badge badge-danger">必須</span>
        <%= f.text_field :name, class: 'form-control', placeholder: '40文字まで' %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <span class="badge badge-danger">必須</span>
        <%= f.text_area :body, class: 'form-control', rows: '5', placeholder: '商品の説明（必須 1,000文字以内）' %>
      </div>

      <hr class="my-5">

      <p class="mb-4">商品の詳細</p>
      <div class="form-group">
        <%= f.label :category_id %>
        <span class="badge badge-danger">必須</span>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), { include_blank: '選択してください' }, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :condition %>
        <span class="badge badge-danger">必須</span>
        <%= f.select :condition, Item.condition.options, { include_blank: '選択してください' }, class: 'form-control' %>
      </div>

      <hr class="my-5">

      <p class="mb-4">配送について</p>
      <div class="form-group">
        <%= f.label :delivery_fee %>
        <span class="badge badge-danger">必須</span>
        <%= f.select :delivery_fee, Item.delivery_fee.options, { include_blank: '選択してください' }, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :sales_status %>
        <%= f.select :sales_status, Item.sales_status.options, { include_blank: '選択してください' }, class: 'form-control' %>
      </div>

      <hr class="my-5">

      <p class="mb-4">価格（¥300〜9,999,999）</p>
      <div class="form-group">
        <%= f.label :price %>
        <span class="badge badge-danger">必須</span>
        <%= f.number_field :price, class: 'form-control', placeholder: '数字で入力してください' %>
      </div>

      <%= f.submit '出品する', class: "btn btn-primary btn-block mt-5" %>

    <% end %>
  </div>
</div>
