<div class="row">
  <div class="col-md-8 offset-md-2 rounded p-5" style="background-color: #FFFFFF;">
    <h3 class="text-center"><%= @item.name %></h3>

    <div class="row mt-3 mb-4">
      <div class="col-md-6 img-thumbnail">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><rect fill="#868e96" width="100%" height="100%"/></svg>
      </div>
      <div class="col-md-6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>出品者</th>
              <td><%= @item.user_name %></td>
            </tr>
            <tr>
              <th>カテゴリ</th>
              <td><%= @item.category_name %></td>
            </tr>
            <tr>
              <th>商品の状態</th>
              <td><%= @item.condition_text %></td>
            </tr>
            <tr>
              <th>配送料の負担</th>
              <td></td>
            </tr>
            <tr>
              <th>配送方法</th>
              <td></td>
            </tr>
            <tr>
              <th>配送元地域</th>
              <td></td>
            </tr>
            <tr>
              <th>発送日の目安</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <p class="text-center font-weight-bold">¥<%= @item.price %></p>

    <div class="text-center mb-5">
      <%= link_to '購入画面に進む', '#', class: 'btn btn-danger btn-block' %>
    </div>

    <p><%= @item.body %></p>
</div>
