<div class="px-4">
  <div class="list-group mb-4">
    <%= link_to settings_path, class: 'list-group-item text-dark' do %>
      マイページ
    <% end %>
    <%= link_to settings_notices_path, class: 'list-group-item text-dark' do %>
      お知らせ
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      やることリスト
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      いいね一覧
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      出品する
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      下書き一覧
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      出品した商品 - 出品中
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      出品した商品 - 取引中
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      出品した商品 - 売却済み
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      購入した商品 - 取引中
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      購入した商品 - 過去の取引
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      出品した商品 - ニュース一覧
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      出品した商品 - 評価一覧
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      ガイド
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      お問い合わせ
    <% end %>
  </div>

  <span class="font-weight-bold">メルペイ</span>
  <div class="list-group mb-4">
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      売上・振込申請
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      ポイント
    <% end %>
  </div>

  <span class="font-weight-bold">設定</span>
  <div class="list-group">
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      プロフィール
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      発送元・お届け先住所変更
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      支払い方法
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      メール・パスワード
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      本人情報
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      電話番号の確認
    <% end %>
    <%= link_to '#', class: 'list-group-item text-dark' do %>
      ログアウト
    <% end %>
  </div>
</div>
