<div class="card">
  <h5 class="card-header">検索</h5>
  <div class="card-body">
    <%= form_with url: admin_items_path, method: "get", class: 'form-group', local: true do |f| %>
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">商品名</label>
        <div class="col-sm-10">
          <%= f.text_field :name, value: params[:name], placeholder: '部分一致', class: 'form-control form-control-sm js-text_field' %>
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">本文</label>
        <div class="col-sm-10">
          <%= f.text_field :body, value: params[:body], placeholder: '部分一致', class: 'form-control  form-control-sm' %>
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">価格</label>
        <div class="col-sm-10">
          <%= f.text_field :price, value: params[:price], placeholder: '部分一致', class: 'form-control  form-control-sm' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">検索</button>
          <%= f.button "リセット", type: :reset, class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
